{
  "extends": "standard",
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "babel"
  ],
  "rules": {
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "experimentalDecorators": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "fetch": true
  },
  "parserOptions": {
    "ecmaVersion": 5,
    "sourceType": "script",
    "ecmaFeatures": {
        "jsx": true
    }
  }
}